@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .pause-animation {
    animation-play-state: paused;
  }
}


* {
  font-family: "Inter", serif;
}

.sticky-image-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: calc(100vw - 50%);
}

.sticky-image {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  width: 100%;
  max-width: min(500px, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 70vh;
  max-width: 100%;
}

.project-card {
  display: flex;  
  align-items: center;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 1024px) {
  .sticky-image-container {
    width: 45%;
    max-width: calc(100vw - 55%);
  }
  
  .project-card {
    width: 55%;
  }
}

.swiper-wrapper {
  padding: 8px 0px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}